
.about{
    border-radius: 10px;
    background: linear-gradient(15deg, white, green);
    width: 60%;
    font-weight: bold;
    color: white;
    margin: 30px;
    box-shadow: 10px -5px 10px 2px black;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

.wrapper{
    display: flex;
    width: fit-content;
    margin: 0;
    height: 90vh;
    justify-content: center;
    align-items: flex-start
}